.container{
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 3px;
    border: solid 3px black;
    margin-right: 20%;
    display: inline-block;
}

table{
    padding-bottom: 10px;
}

tr{
    border: 2px solid black;
}

td{
    padding-top: 10px;
    margin: auto;
    width: 40%;
    padding: 10px;
}

.titre{
    text-align: center;
    background-color: black;
    color: white;
}

#map {
    height: 95%;
    margin-top: 1%;
}
.containermap{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
