.container{
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 3px;
    border: solid 3px black;
    /* margin-left: 100%; */

}

.Zone1{
    /* margin-top: 100px; */
    /* background-color: rgba(255, 255, 255, 0.95);
    border-radius: 3px;
    border: solid 3px black; */
    /* margin-left: 245px;
    float: left; */
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 3px;
    border: solid 3px black;
    /* margin-right: 245px; */
    text-align: center;
    width: 75%;
    height: 75%;
    margin-left: 12.5%;
}

.Zone2{
    margin-top: 100px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 3px;
    border: solid 3px black;
    /* margin-right: 245px; */
    text-align: center;
    width: 75%;
    height: 75%;
    margin-left: 12.5%;
}
